
<div *ngIf="showResults" @slideLeftOut class="results_section">
<h2 style="text-align: center; font-weight: 600;" class="location_heading">Forecast at {{location}}</h2>

<div class="d-flex flex-row justify-content-end align-items-center">
<button type="button" class="btn" (click)="handleFavorite()" style="border: 1px solid black; padding: 0px 4px 0px 4px; ">
    <span style="position: relative; display: inline-block;">
        <i class="bi-star" 
           style="position: absolute; color: black; top: 0; left: 0; font-size: 30px;">
        </i>
        <i [ngClass]="isFavorite ? 'bi-star-fill' : 'bi-star'"
           [ngStyle]="{'color': isFavorite ? 'yellow' : 'white', 'font-size': '30px'}">
        </i>
      </span>
</button>

<div style="font-size: 1.2rem; border-bottom: 1px solid blue; padding-bottom: 1px;" (click)="detailsClick()" class="details_div">Details</div>
<i class="bi bi-chevron-right details_div" style="font-size: 1.5rem; font-weight: 400" (click)="detailsClick()"></i>
</div>


<div class="tab_selectors d-flex flex-row justify-content-end align-items-center mt-3">
    <p class="me-3" (click)="handleTabClick('day')" [class.current]="currentTab === 'day'">Day View</p>
    <p class="me-3" (click)="handleTabClick('chart')" [class.current]="currentTab === 'chart'">Daily Temp. Chart</p>
    <p (click)="handleTabClick('meteogram')" [class.current]="currentTab === 'meteogram'">Meteogram</p>
</div>

<div class="tab-content">
    <div *ngIf="currentTab === 'day'">
        <div class="table-responsive">
            <table class="table table-responsive table-hover weather_table">
                <thead>
                <tr>
                    <th *ngFor="let heading of weatherHeadings" class="weather_header">
                    {{ heading }}
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let day of dailydata['data']['timelines'][0]['intervals']; let i = index" (click)="showDetails(day, getStatus(day['values']['weatherCode']))">
                        <td class="align-middle">{{ i + 1 }}</td>
                        <td class="date_row align-middle">{{ formatDate(day['startTime']) }}</td>
                        <td class="align-middle">
                            <div class="weather_status_div">
                                <img [src]="getWeatherImage(day['values']['weatherCode'])" style="width: 45px; height: auto;">
                                <span>{{ getStatus(day['values']['weatherCode']) }}</span>
                            </div>
                        </td>
                        <td class="align-middle">{{ day['values']['temperatureMax'] }}</td>
                        <td class="align-middle">{{ day['values']['temperatureMin'] }}</td>
                        <td class="align-middle">{{ day['values']['windSpeed'] }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="currentTab === 'chart'">
      <app-tempchart [temperatureData]="getTemperatureData(dailydata)"></app-tempchart>
    </div>
    <div *ngIf="currentTab === 'meteogram'">
      <app-meteogram [hourlyTempData]="getHourlyTempData(hourlydata)['hourlyTempData']" [hourlyHumData]="getHourlyTempData(hourlydata)['hourlyHumData']" [hourlyWindData]="getHourlyTempData(hourlydata)['hourlyWindData']" [hourlyAirData]="getHourlyTempData(hourlydata)['hourlyAirData']"></app-meteogram>
    </div>
</div>
</div>
<div *ngIf="showDetailsPane" @slideRightIn class="details_pane">
    <app-details-pane [weatherData]="selectedDay" [status]="selectedStatus" [lat]="latitude" [long]="longitude" [location]="location" (close)="hideDetailsPane()"></app-details-pane>
</div>
