.invalid {
    border: 1px solid red;
  }

  @media (min-width: 992px){
    .validation_message{
      margin-left: 24.5%;
      color: red;
      font-size: 0.9em;
    }
  }


.btn-secondary-tab{
  color: #0d6efd;
}

.fav_table {
  border-top: none; 
}


.fav_table td {
border-top: 1px solid #ccc;
border-left: none;
border-right: none; 
border-bottom: 1px solid #ccc;
}

.fav_table td{
  padding-top: 15px;
  padding-bottom: 15px;
}

.bi-trash-fill:hover{
  cursor: pointer;
}

.fav-item {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fav-item:hover {
  color: darkblue; 
}

.fav_table thead{
  border-bottom: 1px solid #ccc;;
}

#auto_detect_checkbox:checked {
  background-color: orange;
}